
.main-header {
    background-color: #303030;
    height: 105px;
    color: white;
}

.logo {
    float: right;
    width: 163px;
    position: relative;
    top: 31px;
    right: 77px;
}

.title {
    position: relative;
    top: 34px;
    left: 77px;
    display: inline-block;
}
