<ul id="menu" class="dropdown-combo" (click)="fnCombo()" click-stop-propagation > 
    <li> 
      <input id="comboOpen" name="menu" [(ngModel)]="theCheckbox" type="checkbox" /> 
      <label tabindex="0" (blur)="closeCombo()" (click)="fnCombo()" click-stop-propagation >{{ selected.Desc }}</label>
      
      <div class="selectarrow"></div>
      <ul class="submenu">
          
          <li *ngFor="let item of options" (click)="select(item)" click-stop-propagation ><a>{{ item.Desc }}</a></li> 
         
      </ul>
    </li>
</ul>