<div class="">
    <form [formGroup]="viewForm" >
      <div class="row">
          <div class="col-6">
              <div class="right-padding">
                  <h1 class="label">Nombre</h1>
                  <input class="input-gray" formControlName="nombre" placeholder="Juan" id="nombre" type="text" />
              </div>
          </div>

          <div class="col-6">
              <div>
                  <h1 class="label">Apellido</h1>
                  <input class="input-gray" formControlName="apellido" id="apellido" placeholder="Manzanas" type="text" />
              </div>
          </div>
      </div>
      <div class="row margin-top">
          <div class="col-4">
              <div>
                  <h1 class="label">Cédula de Identidad</h1>
                  <input class="input-gray" id="cedula" formControlName="cedula" placeholder="1.234.567-8" type="text"  OnlyNumber="true" CiFormat />
                 
              </div>
          </div>
          <div class="col-4">
              <div *ngIf="f.cedula.errors" class="">
                  <div *ngIf="f.cedula.errors.required">cedula is required</div>
                  <div *ngIf="!f.cedula.errors.civalid">cedula is invalid</div>
              </div>
          </div>
      </div>

      <div class="row margin-top">
          <div class="col-4 right-padding">
              <div>
                  <h1 class="label">Fecha de Nacimiento</h1>
                  <input class="input-gray datepicker" maxlength="8" id="date" name="date" placeholder="DD/MM/AAAA" type="text" />
                  <i class="fa fa-calendar-alt fa-2x calendar" aria-hidden="true"></i>
              </div>
          </div>
          <div class="col-4 right-padding">
              <h1 class="label">Estado Civil</h1>
              <app-combobox></app-combobox>
          </div>
          <div class="col-3">
              <div>
                  <legend class="label">Género</legend>
                  <div class="margin-left">
                      <input class="input-radio1" name="genero" id="masculino" type="radio" />
                      <label for="masculino" class="label">Masculino</label>
                  </div>
                  <div class="margin-left">
                      <input class="input-radio1" name="genero" id="femenino" type="radio" />
                      <label for="femenino" class="label">Femenino</label>
                  </div>
              </div>
          </div>
      </div>
    </form>
    <div class="col-12 align-right">
        <button class="primary-button" (click)="continuar()" >CONTINUAR</button>
    </div>

</div>
